.LoginImg{
  color: aqua;
}
.loginPage{
  height: 610px;
  background:  #E0DDF8;
}
.loginContainer{
  /* background: linear-gradient(to left,#F7F7F7, #7D6FD8); */
  background-color:  #7D6FD8;
}
.loginCol2{
  /* background: linear-gradient(to right,#F7F7F7, #7D6FD8); */
  background-color:  whitesmoke;
  padding:60px
}
.loginRow{
  height: 500px;
  border: 5px hsl(0, 0%, 80%);
}
.loginheading{
  color: whitesmoke;
}
.item-text{
  color: whitesmoke;
}

.loginInput{
  width: 400px;
}

.buttonColor{
  background-color: #7D6FD8;
}
.buttonColor:hover{
  background-color: hsl(248, 52%, 56%);
}
.forgotpassword{
  color:hsl(248, 52%, 56%);
}
.signinusing{
  margin-right: 40px;
}